@charset "utf-8";

body {
<<<<<<< HEAD
	background: #fff9df;
=======
	background: #eee;
>>>>>>> ver02
}

.row {
	max-width: 960px;
	margin: 0 auto;
	font-size: 1.6rem;
}

.flex01 {
	width: 960px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex01 li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 465px;
	padding: 20px;
	margin: 0 0 30px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

ol {
	counter-reset: my-counter;
	list-style: none;
	padding: 0;
}

ol li {
	margin-bottom: 10px;
	padding-left: 34px;
	position: relative;
}
ol li::before {
	content: counter(my-counter);
	counter-increment: my-counter;
	background-color: #bada55;
	color: #222;
	display: block;
	float: left;
	line-height: 26px;
	margin-left: -34px;
	text-align: center;
	height: 26px;
	width: 26px;
	border-radius: 50%;
}

.num_list02 li::before {
	background-color: #fff;
	color: #0e59a8;
	border: 1px solid #0e59a8;
}